:root {
    --azul: #0060B1;
    --laranja: #FF6500;
    --branco: #ffff;
    --branco-neve: #e2e2e2;
    --laranja-escuro: #E35214;
    --cinza: #818181;
    --preto: #000;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--preto);
}

.content {
    flex: 1 0 auto;
}

.login {
    text-align: right;
    margin-right: 1cm;
    color: var(--branco-neve);
    margin-top: -0.87cm
}

.navbar-top {
    width: 100%;
    height: 50px;
    background-color: var(--azul);
}

.navbar-logo {
    height: 50;
    width: fit-content;
    float: left;
}

.navbar-menu {
    font-size: 20px;
    float: right;
    line-height: 80px;
    font-weight: bold;
    color: white;
}

.search-bar {
    text-align: center;
    float: center;
}

.navbar-bot {
    width: 100%;
    background-color: var(--laranja);
    margin-bottom: 60px;
    display: block;
}

.navbar a {
    color: #e7e7e7;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar .brand {
    display: block;
    color: #e7e7e7;
    padding: 0 24px;
    font-size: 24px;
}

.navbar ul li a {
    color: #e7e7e7;
    padding: 10px;
    display: block;
}

.navbar ul a:hover,
.navbar ul a:focus {
    background-color: var(--laranja-escuro);
}

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: var(--azul);
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: var(--branco);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }
    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}